@font-face {
    font-family: 'jetbrains';
    src: url('/font/JetBrainsMono-ExtraBold.ttf') format('truetype');
}

/* konfig buat mobile dan desktop */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    
    .image-section {
        order: -1; /* pindah gambar ke atas di mobile */
    }
}